body {   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;   
    perspective: 1000px;
}
.container {
    
    width: 300px;   
    height: 400px;
    position: relative;   
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.login-container, .register-container {
    width: 100%;  
    height: 100%;
    padding: 20px;   
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
    border-radius: 8px;
    backface-visibility: hidden;   
    position: absolute;
    transition: transform 3s;  
    top: 0;
    left: 0;
}
.login-container {
    z-index: 2;}
.register-container {
    transform: rotateY(180deg);
}
.flip .login-container {   
     transform: rotateY(180deg);
}
.flip .register-container {  
     transform: rotateY(360deg);
}
.form div {   
     margin-bottom: 15px;
}
form label {   
    display: block;
    margin-bottom: 5px;
}
form input {
    width: 100%;   
    padding: 8px;
    box-sizing: border-box;
}
button {

    padding: 10px;   
    width: 100%;
    margin-top: 10px;    
    cursor: pointer;
}
.flashes {
    list-style-type: none;
    padding: 0;
}

.flashes li {
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
}

.success {
    background-color: #d4edda;
    color: #155724;
}

.error {
    background-color: #f8d7da;
    color: #721c24;
}

.form-component {  
    display: flex;
    background-color: #ffffff;  
    border: 1px solid #ccc;  
    border-radius: 5px;  
    padding: 15px;  
    margin-bottom: 20px;  
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  
    align-items: center;
}  

.form-component label {  
    font-size: 16px;  
    font-weight: bold;  
}  

input[type="checkbox"] {  

    transform: scale(1.5);  
    cursor: pointer;  
}  